/*
stylesheet for proofing page
*/

:root {
  --text-red: #ff4136;
  --text-green: #2ecc40;
  --text-blue: #00a3da;
  --text-gray: #999;
  --fill-gray: #ccc;
  --text-magenta: #ff30cb;
  --fill-magenta: #ff89ff;
  --text-amber: #efc200;
  --fill-amber: #faef00;
}

body {
  font-size: 18px;
  color: #333;
}

td,
th {
  padding: 2px 6px;
  min-width: 24px;
}
thead :not(:last-child),
tbody th:nth-child(4),
tbody th:nth-child(7),
tbody td:nth-child(10),
tbody td:nth-child(13) {
  border-right: 2px solid var(--fill-gray);
}

.red {
  color: var(--text-red);
}
.green {
    color: var(--text-green);
}
.blue {
    color: var(--text-blue);
}
.lum {
    color: var(--text-gray);
}
td.lum {
    background-color: var(--fill-gray);
    color: inherit;
}
.a-axis {
    color: var(--text-magenta);
}
td.a-axis {
    background-color: var(--fill-magenta);
    color: inherit;
}
.b-axis {
    color: var(--text-amber);
}
td.b-axis {
    background-color: var(--fill-amber);
    color: inherit;
}
